#chessboard {
    display: grid;
    grid-template-columns: repeat(8, minmax(30px, min(10vmin, 100px)));
    grid-template-rows: repeat(8, minmax(30px, min(10vmin, 100px)));
    width: min(80vmin, 800px);
    height: min(80vmin, 800px);
    background-color: blue;
    margin: 0 auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal.hidden {
    display: none;
}

.modal > .modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: min(90vw, 800px);
    height: min(50vh, 300px);
    background-color: rgba(127, 127, 127, 0.8);
}

.modal > .modal-body > img {
    height: min(120px, 20vmin);
    padding: min(20px, 3vmin);
    border-radius: 50%;
}

.modal > .modal-body > img:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.modal > .modal-body > .checkmate-body {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.modal > .modal-body > .checkmate-body > span {
    font-size: 32px;
}

.modal > .modal-body > .checkmate-body > button {
    background-color: #779556;
    border: none;
    border-radius: 8px;
    padding: 24px 48px;
    font-size: 32px;
    color: white;
}

.modal > .modal-body > .checkmate-body > button:hover {
    cursor: pointer;
}